.modal.fade{:id => "modal-dialog", :tabindex =>"-1", :role => "dialog", :aria => {:labelledby => "modalLabel"}}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{type: "button", data:{dismiss: "modal", aria: {label: "Close"}}}
          %i.glyphicon.glyphicon-remove
        %h4.modal-title
      .modal-body
 